html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: rgba(184, 184, 184, 0.33);
    font-size: 24px;
    padding: 20px;
}


img {
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#top-paragraph {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#bottom-paragraph {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 450px) {
    img {
        display: block;
        padding-bottom: 30px;
        padding-top: 30px;
        width: 100%;
        margin: 0;
    }

    #top-paragraph {
        width: 100%;
        margin: 0;
    }

    #bottom-paragraph {
        width: 100%;
        margin: 0;
    }

}



