/* html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
} */

/* body {
    background-color: rgba(184, 184, 184, 0.33);
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
}

h2 {
    color: #536a80;
    margin-left: -1%;
}

div {
    color: #1e1e1e;
}


li {
    padding-left: 1%;
}

h4 {
    color: #404040;
}

i {
    margin-left: -1%;
} */

a.jx-knightlab {
    display: none !important;
}

div.juxtapose.juxtapose-0 {
    width: 2048px;
    height: 1152px; 
}

div.juxtapose.juxtapose-1 {
    margin-top: 100px;
    width: 2000px;
    height: 1500px; 
}

div.juxtapose.juxtapose-2 {
    margin-top: 100px;
    width: 1056px;
    height: 1500px; 
}
