html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    /* Disable highlighting in all browsers */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#overall_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Define the position of the slider container */
#slider_container {
    margin-left: auto;
    margin-right: auto;
    height: 850px !important;
}

/* Add rounded corners to slider container */
.jx-slider {
    border-radius: 12px;
}

/* Define width of container for vertical slider bar */
.jx-handle {
    width: 46px !important;
}

/* Define width of entire vertical slider bar */
div.jx-control {
    color: #6fbbf2;
    width: 8px !important;
}

/* Define width of thicker middle piece of vertical slider bar */
div.jx-controller {
    color: #6fbbf2;
    margin-left: -4px !important;
    width: 16px !important;
}

.jx-arrow {
    color: #6fbbf2;
}

/* Hide the watermark that would otherwise be visible in the bottom-right of the slider container */
a.jx-knightlab {
    display: none !important;
}

/* Define the dimensions of the bottom row of thumbnails */
#thumbnail_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1568px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    align-items: center;
    justify-content: left;
}

/* Define the dimensions of each thumbnail item in the bottom row */
#thumbnail_container img {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}