/* Hide the watermark in the bottom-right */
a.jx-knightlab {
    display: none !important;
}

/* Define the dimensions of the slider */
.juxtapose {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/* Define the dimensions of the bottom row of thumbnails */
div.thumbnail_container {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
  }
  
  /* Define the dimensions of each thumbnail item in the bottom row */
  div.thumbnail_container img {
    flex: 0 0 auto;
    margin-inline: 2px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }